<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/script.js}" src="../../static/js/script.js"></script>
    <title>my page</title>
</head>
<body>

<header>
    <div class="home-page"><img class='header-img' th:src="@{/img/traveling.png}"  src="../../static/img/traveling.png" alt="#"></div>

    <div class="case" >
        <div class="avatar"><img name="current-ava" class='header-ava' th:src="@{/img/046-woman.png}" src="../../static/img/046-woman.png" alt=""></div>
        <div class="name"> name</div>
    </div>

    <div class="case">
        <div class="place"><img class='header-img-mini' th:src="@{/img/location.png}" src="../../static/img/location.png" alt=""></div>
        <div class="name">RedTown</div>
    </div>

    <div class="case">
        <div class="ballance"><img class='header-img-mini' th:src="@{/img/money.png}" src="../../static/img/money.png" alt=""></div>
        <div class="name">40 000</div>
    </div>

</header>

<div class="main-field">
    <div class="spacec"></div>
    <div class="main-info gray-border">
        <div class="my-info">
            <div class="info-case">
                <div class="my-page-ava">
                    <img name="current-ava" th:src="@{/img/046-woman.png}" src="../../static/img/046-woman.png" alt="#" class="my-page-ava-img">
                </div>
                <div class="edit-button">
                    <div class="edit-button-class pointer" onclick="popup(event)" id="avatar">
                        edit
                    </div>
                </div>
            </div>
            <div class="info-case">
                <div class="my-page-ava">MyName</div>
                <div class="edit-button">
                    <div class="edit-button-class pointer" onclick="popup(event)" id="name">
                        edit
                    </div>
                </div>
            </div>
            <div class="info-case">
                <div class="my-password">password</div>
                <div class="edit-button">
                    <div class="edit-button-class pointer" onclick="popup(event)" id="password">
                        edit
                    </div>
                </div>
            </div>

        </div>

        <div class="history-of-flights">
            <div class="history-table">
                <div class="tablet-header">
                    <div><img class='infotablet-img' th:src="@{/img/departure.png}" src="../../static/img/departure.png" alt=""></div>
                    <div><img class='infotablet-img' th:src="@{/img/arrival.png}" src="../../static/img/arrival.png" alt=""></div>
                    <div><img class='infotablet-img' th:src="@{/img/coupon.png}" src="../../static/img/coupon.png" alt=""></div>
                </div>
                <div class="tablet-info">
                    <div>RedTown</div>
                    <div>PinkTown</div>
                    <div>5000</div>
                </div>
            </div>

        </div>
    </div>
    <div class="spacer"></div>

</div>


<div id="popup"  class="popup">
    <div class="card">

        <div class="popupinfo" id="popupinfo">


        </div>

        <div class="popup-footer">
            <div ><img onclick="hide_popup(false)" class="popup-img-x pointer" th:src="@{/img/cancel(1).png}" src="../../static/img/cancel(1).png" alt=""></div>
            <div ><img onclick="hide_popup(true)" class="popup-img pointer" th:src="@{/img/checked.png}" src="../../static/img/checked.png" alt=""></div>
        </div>
    </div>


</div>
</div>



</body>
</html>