<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title  th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"></head>
<body class="container py-3">

<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="section">
                    <div class="col s12">
                        <span class="title">Main Page</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>